*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    min-width: 100%;
}

body{
    background: #000;
    max-width: 100%;
}

.main{
    position: relative;
    z-index: 1;
    background-image: url("assets/images/bg.png");
    background-position: center center;
    height: 800px;
}

.main .op{
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: black;
    opacity: 0.75;
    height: 800px;
    width: 100%;
}

nav{
    position: relative;
    z-index: 2;
    display: flex;
    width: 81vw;
    height: 80px;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

nav > img {
    width: 150px;
}

nav button{
    height: 30px;
}

.front{
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    height: 76%;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.heads{
    width: 50%;
    position: relative;
    z-index: 2;
    align-self: center;
    text-align: center;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
}

.front > :nth-child(1){
    font-size: 56px;
    font-weight: 900;
}

.front > :nth-child(2){
    font-size: 20px;
    font-weight: 500;
}

.front > :nth-child(3){
    font-size: 16px;
    font-weight: 400;
}

.curve_container{
    position: relative;
    height: 20%;
}

.curve_top {
    position: absolute;
    top: 15px;
    left: -15%;
    margin: auto;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    width: 130%;
    height: 100%;
    border: solid 0.25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background-clip: padding-box;
}

.curve_top::before{
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to right,
        rgba(33, 13, 22, 1) 16%,
        rgba(184, 40, 105, 1),
        rgba(229, 9, 20, 1),
        rgba(184, 40, 105, 1),
        rgba(33, 13, 22, 1) 84%
    );
    margin-top: -.25rem;
    border-radius: inherit;
}

.titles{
    position: relative;
    top: 10%;
    left: 10%;
    z-index: 4;
    font-size: 24px;
    font-weight: 500;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;;
    color: white;
}

.recommendations{
    width: 100%;
    position: relative;
    top: 30px;
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    /* gap: 10px; */
    flex-wrap: wrap;
    flex-shrink: none;
}

.recommendations > img{
    position: relative;
    width: 180px;
    height: auto;
    border-radius: 5px;
}

.recommendations > .num{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    content: attr(number);
    position: relative;
    top: 123px;
    right: 200px;
    z-index: 4;
    color: black;
    font-size: 100px;
    font-weight: 700;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}

@media only screen and (max-width: 900px) {
    .recommendations{
        min-width: 100%;
    }
}